<h1>Wedding Package Search</h1>

<form #searchForm="ngForm" novalidate class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Country</label>
		<div class="col-xs-10 col-md-3">
			<select name="country" class="form-control" [(ngModel)]="searchFilter.countryId" #country="ngModel">
				<option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
			</select>
		</div>
		<label class="col-sm-2 control-label">Max Price</label>
		<div class="col-xs-10 col-md-3">
			<input type="number" name="maxPrice" class="form-control" [(ngModel)]="searchFilter.maxPrice" #maxPrice="ngModel" />
		</div>
		<div class="col-xs-11 col-md-2">
			<button id="searchButton" (click)="search()" type="submit" data-loading-text="Just a sec..."
				class="btn btn-success btn-lg" >Search</button>
		</div>
	</div>
</form>

<div class="table-responsive">
	<table class="table table-hover" *ngIf="packages">
		<tr>
			<th>
				<a href="javascript:void(0)" (click)="sort('name')">Package name</a>
				<span>{{getSortDirectionArrow('name')}}</span>
			</th>
			<th>
				<a href="javascript:void(0)" (click)="sort('weddingAgency.country.name')">Country</a>
				<span>{{getSortDirectionArrow('weddingAgency.country.name')}}</span>
			</th>
			<th>
				<a href="javascript:void(0)" (click)="sort('weddingAgency.name')">Agency name</a>
				<span>{{getSortDirectionArrow('weddingAgency.name')}}</span>
			</th>
			<th>
				<a href="javascript:void(0)" (click)="sort('price')">Package price</a>
				<span>{{getSortDirectionArrow('price')}}</span>
			</th>
		</tr>
		<tr *ngFor="let package of packages?.list">
			<td><a [routerLink]="['/agency', package.weddingAgency.seolink]" [queryParams]="{ package: package.id }">{{package.name}}</a></td>
			<td>{{package.weddingAgency.country.name}}</td>
			<td><a [routerLink]="['/agency', package.weddingAgency.seolink]" [queryParams]="{ package: package.id }">{{package.weddingAgency.name}}</a></td>
			<td><h3>{{package.price}} EUR</h3></td>
		</tr>
		<tr>
			<td colspan="4">
				<div class="pull-right">
					<ul class="pagination">
						<li [class.disabled]="packages?.currentPage == 0">
							<a href="javascript:void(0)" (click)="changePage(packages?.currentPage - 1)">&laquo; Prev</a>
						</li>
						<li>
							<a href="javascript:void(0)">{{packages.currentPage + 1}}</a>
						</li>
						<li [class.disabled]="packages?.currentPage == (packages.lastPage - 1)">
							<a href="javascript:void(0)" (click)="changePage(packages?.currentPage + 1)">Next &raquo;</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
	</table>
</div>